VITE_SUPABASE_URL=https://iuvzdcszsfvuyfzyilac.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_9TXuFzjkYiJH-PjhaRMb6A_-Cv-4J8n
VITE_INTERVIEW_ANALYSIS_MICROSVC_BASE_URL=http://localhost:8000
VITE_POSTURE_ANALYSIS_MICROSVC_BASE_URL=http://localhost:8001
VITE_WEB3FORMS_ACCESS_KEY=YOUR_ACCESS_KEY
